@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
#navBar{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100px;
    background-color: rgb(211, 43, 43);
    position: fixed;
}

#navBar li{
    display: inline;
    list-style: none;
    margin: 42px;
    /* margin: 40px; */
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
#navBar li a{
    text-decoration: none;
    color: white;
    
}
#navBar li a:hover{
    color: black;
    font-weight: bold;
    
}
#eduIcon{
    height: 3.7rem;
    width: 3.7rem;
    float: left;
    border-radius: 50%;
    display: inline;
    filter: invert(1);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.icon h1{
    color: white;
}
.moveRight{
    float: right;
    margin-left: 280px;
}
#search{
    height: 30px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    color: black;
    font-size: 15px;
}
#btn{
    height: 30px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 6px;
}
#btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    opacity: 0.9;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 800px;
}
.container h1{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 30px;
    margin-bottom: 10px;
}
.contact{
    display: flex;
    flex-direction: column;

}
.contactInput{
    width: 600px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 6px;
    font-size: 18px;
}
.concernInput{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 6px;
    font-size: 18px;
    height: 100px;
    
}
.contactSubmit{
    width: 85px;
    height: 43px;
    display: block;
    margin: 15px auto;
    border-radius: 6px;
    background-color: rgb(220, 103, 30);
    color: white;
    font-size: 20px;
}
.contactSubmit:hover{
    cursor: pointer;
    background-color: rgb(185, 45, 141);
}